.showGroup p,
.postText .autoExpand,
#datepicker,
.timepicker,
.buttonPost,
.modalInfo,
#modal_form,
.showGroup #openDown,
#modal_form .ourName #modal_close,
#modal_form .ourName p {
	font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
}
#modal_form .ourName p {
	font-size: 16px;
	float: left;
	margin: 5px 0 0;
    font-weight: 400;
}
.publish {
	width: 40px;
	overflow: hidden;
	cursor: pointer;
	color:  #2F5879;
	background-color: transparent;
	border: none;
	font-size: 11px;
	font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
}
.post_full_like .publish {
	height: 20px;
	float: left;
	padding-right: 3px;
	border-radius: 2px;
}
.page_wide_no_narrow .publish {
	height: 23px;
}
.fw_post_bottom .publish {
	height: 13px;
}
#wl_post_actions_wrap .publish {
	height: 26px;
	padding: 6px 10px 7px;
}
#wl_post_actions_wrap .publish:hover,
.post_full_like .publish:hover {
	background-color: #E1E7ED;
}


#modal_form #tabs {
	position: relative;
	width: 100%;
	height: 420px;
	padding-bottom: 15px;
}
#modal_form #tabs .tabs-panel {
	width: 100%;
	height: 435px;
	border-width: 0;
	overflow-y: auto;
	overflow-x: hidden;
}
.listGroups {
	width: 100%;
	display: none;
	position: absolute;
	z-index: 100;
	right: 0;
	margin: 0;
	padding: 0;
	list-style: none;
}
.listGroups li:last-child {
	border-radius: 0 0 5px 5px;
}
.postGroup {
	height: 40px;
	width: 98%;
	padding: 0 5px 3px;
	position: relative;
    color: #000;
    background-color: #fff;
    border-bottom: 1px solid #E1E7ED;
}
 .postGroup img {
	height: 40px;
	width: 40px;
	display: inline-block;
	float: left;
	margin-right: 10px;
	border-radius: 3px;
}
.postGroup div {
	height: 40px;
  	overflow: hidden;
  	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 15px;
 	font-weight: 400;
 	margin-bottom: 0;
}
.postGroup p {
	margin-top: 10px !important;
}
.postGroup:hover {
	background-color: #F1F5F9;
	cursor: pointer;
 }




.postText {
	width: 93%;
	margin: 10px 0 10px 20px;
	height: auto;
	padding-bottom: 10px;
	position: relative;
}
.postText .autoExpand {
	width: 95%;
	min-height: 30px;
	max-height: 150px;
	font-size: 13px;
  	display: block;
  	overflow-y: auto;
  	padding: 10px;
  	font-weight: 100; 
  	color: #000;
    border: 1px solid #C3CBD4;
}
#tabs .postPhoto {
	width: auto;
	height: auto;
    min-width: 100px;
    min-height: 70px;
    margin: 0 1px;
	position: relative;
	display: inline-block;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
}

#tabs .bgPhoto {
  	min-width: 100px;
    min-height: 70px;
	display: block;
	position: relative;
  	background: no-repeat center 20%;
  	background-size: cover;
}

#tabs p.clearX {
	width: 8px;
	height: 8px;
	top: 0;
	right: 0;
	margin: 2px 2px 0 0;
	position: absolute;
	background: url("/images/notifier_close.gif") no-repeat center center rgba(0, 0, 0, 0.65);
	background-size: cover;
	cursor: pointer;
	border: 4px solid rgba(0, 0, 0, 0);
	border-radius: 3px;
}
#tabs .bgPhoto {
	border-bottom: 2px solid rgba(0, 0, 0, 0.6);
}
#tabs .fGif .gif {
	padding-right: 7%;
	text-align: right !important;
}
#tabs .gif .wall_album_count {
	margin: 0 !important;
}
#tabs .gif {
	width: 100%;
	height: 25%;
	margin: 0;
	bottom: 0;
	padding-top: 5%;
	position: absolute;
	z-index: 1;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	font-size: 1em;
	box-sizing: border-box;
	text-align: center;
}
#tabs .imag {
	width: 95%;
	min-height: 70px;
	height: auto !important;
	overflow: hidden;
	padding: 0;
	margin: 15px 0 15px 20px;
	position: relative;
	display: inline-block;
}
#tabs #postAudio,
#tabs .link,
#tabs .poll {
	width: 91%;
	height: auto;
	margin-left: 20px;
	padding: 10px 10px;
	position: relative;
	display: inline-block;
}
#tabs #postAudio {
	padding-bottom: 0;
}
.postAudio {
	min-height: 35px;
}
.postAudio .medaddPlay {
	width: 22px;
	height: 22px;
	margin-right: 5px;
	float: left;
	cursor: default;
	background: url(http://s017.radikal.ru/i411/1511/45/47ddf685f6b8.jpg) no-repeat !important;
	background-size: cover !important;
}
#tabs .poll img {
	display: inline-block;
	float: left;
	height: 22px;
	width: 22px;
	margin: 0 8px 0 0;
}
#tabs div.clearX {
	background-image: url('/images/pics/statusx_op.gif');
	margin: 6px 5px 0px 15px;
	height: 11px;
    width: 11px;
    float: left;
    cursor: pointer;
}
.postAudio .audioText,
#tabs .poll #namePoll,
#tabs .link a {
	height: 22px;
	width: 350px;
	position: relative;
	border-bottom: 3px solid #D8DEE4;
	margin: 0px;
  	overflow: hidden;
  	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 13px;
	float: left;
  	color: #2B587A;
}
#tabs .poll #namePoll,
#tabs .link a {
	width: auto;
	max-width: 415px;
	margin-top: 4px;
	border-bottom: none;
  	color: #45688E;
  	font-weight: bold;
}
.postAudio .audioText b {
  	color: #45688E;
  	font-weight: bold;
}
#tabs .link b {
	background: url(/images/icons/mono_iconset.png?1) no-repeat left -237px;
    width: 16px;
    height: 13px;
    margin-top: 7px;
    float: left;
}


#tabs #postAudio {
	display: none;
}


#showGroup {
	position: relative;
	height: 50px;
	width: 100%;
	box-sizing: border-box;
    background-color: white;
	top: -3px;
    color: #000;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.07);
}
.showGroup {
	position: relative;
	height: 40px;
	width: 95%;
	display: inline-block;
	box-sizing: border-box;
	padding: 2px 25px;
	margin: 5px 15px;
	text-align: center;
	border-radius: 2px;
    background-color: rgba(98, 113, 157, 0.2);
	cursor: pointer;
	z-index: 100;
    color: #000;
}
.showGroup img {
	height: 36px;
	width: 36px;
	border-radius: 3px;
	float: left;
}
.showGroup #openDown {
	float: right;
	width: 20px;
	height: 17px;
	margin-top: 8px;
	background: url(http://www.javascriptsource.com/css/arrowd.gif) no-repeat center center; 
	background-size: content;
	cursor: pointer;
}
#modal_form .ourName #modal_close {
	float: right;
	margin-top: 9px;
	font-size: 11px;
	font-weight: 400;
	cursor: pointer;
	color: #C7D7E9;
	transition: color 0.1s linear;
}
#modal_form .ourName #modal_close:hover {
	color: #fff;
}
.showGroup span {
	right: 15px;
  	overflow: hidden;
  	text-overflow: ellipsis;
	white-space: nowrap;
}
.showGroup p {
	margin: 0;
	margin-top: 7px;
	font-size: 17px;
    font-weight: 400;
	position: relative;
	display: inline-block;
}

#modal_form #tabsDown {
	width: 100%;
	height: 75px;
	position: relative;
	box-sizing: border-box;
	margin-top: 5px;
	padding: 5px;
	background-color: #fff;
	border-top: 1px solid #C3CBD4;
    box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.07);
	z-index: 6000;
}
.picker {
	width: 375px;
	height: 60px;
	position: relative;
	padding: 0 0 5px 7px;
	float: left;
	display: inline-block;
}
#modal_form .picker #timer {
	margin: 10px 13px;
	padding: 10px 25px;
	width: 70px;
	height: 20px;
	position: relative;
	float: left;
	border-radius: 2px;
	background-color: #3d4661;
  	cursor: pointer;
}
#modal_form .picker #timer.timerActive {
	background-color: #252b3c;
}
#modal_form .picker #timer img {
	width: 20px;
	height: 20px;
	float: left;
}
#modal_form .picker #timer p {
	float: right;
	margin: 3px 2px;
	font-size: 13px;
	color: #fff;
	font-weight: 400;
}
#showHours,
#showMinute {
	margin: 0;
	width: 40px;
	height: 27px;
	border: 1px solid rgba(0, 0, 0, 0.35);
	background-color: white;
	font-size: 15px;
}
#showHours p,
#showMinute p {
	margin: 5px 10px;
	color: #000;
}
#showMinute {
	float: right;
	}
#showHours {
	float: left;
	margin-right: 8px;
}
#showtime {
	margin: 0;
	margin-top: 15px;
	width: 105px;
	height: 40px;
	float: right;
	font-size: 20px;
	color: rgba(0, 0, 0, 0.7);
  	display: none;
}
.timepicker {
	margin-top: -228px;
	width: 40px;
	height: 200px;
	overflow: hidden;
	overflow-y: scroll;
	font-size: 15px !important;
	text-align: center;
  	color: #000;
  	font-weight: 100; 
  	padding: 0;
  	display: none;
	float: left;
	background-color: white;
}
.timepicker.hoursActive,
.timepicker.minuteActive {
  	display: block;
  	z-index: 100;
}
.timepicker li {
	list-style: none;
	width: 25px;
	height: 20px;
	background-color: white;
	cursor: pointer;
	z-index: 100;

}
.timepicker li:hover {
	background-color: #3d4661;
	color: white;
}
#datepicker {
	margin-top: 15px;
	margin-right: 10px;
	width: 105px;
	height: 25px;
	font-size: 15px !important;
	text-align: center;
  	color: #000;
  	font-weight: 100; 
  	padding: 0;
  	display: none;
}
#modal_form .ourName {
	position: relative;
	height: 50px;
	width: 100%;
	display: inline-block;
	box-sizing: border-box;
	padding: 8px 25px 12px;
    background-color: #3d4661;
    color: #fff;
}
.buttonPost {
	float: right;
	margin: 10px 20px 10px 10px;
	padding: 13px 20px;
	position: relative;
	border: 0px;
	font-size: 13px;
  	cursor: pointer;
  	z-index: 100;
	background-color: #3d4661;
	color: #fff;
	font-weight: 400;
	border-radius: 2px;
	transition: all 0.1s linear;
}
.buttonPost:hover {
	background-color: #6d8cb0;
}
#modal_form {
	width: 550px; 
	height: 600px; /* Рaзмеры дoлжны быть фиксирoвaны */
	border-radius: 5px;
	background: #F7F7F7;
	position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
	top: 25% !important; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
	left: 38%; /* пoлoвинa экрaнa слевa */
	margin-top: -150px;
	margin-left: -150px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
	display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
	opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
	z-index: 5000; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
}

.modalInfo {
	width: 30%;
	margin-left: 35%;
	height: 140px;
	text-align: center;
	background-color: #fff;
	border: 1px solid #37474F;
	border-radius: 2px;
	top: 30%;
	position: fixed;
	z-index: 100;
	display: none;
}
.modalInfo #modalName {
	width: 100%;
	height: 40px;
	position: relative;
	box-sizing: border-box;
	padding: 10px 20px;
    background-color: #3d4661;
}
.modalInfo #modalName p {
	margin: 0;
    color: #fff;
	font-size: 15px;
	float: left;
}
.modalInfo #modalName span {
	float: right;
	margin-top: 2px;
	font-size: 11px;
	cursor: pointer;
	color: #C7D7E9;
	transition: color 0.1s linear;
}
.modalInfo #modalName span:hover {
	color: #fff;
}
.modalInfo p#massageInfo {
	vertical-align: middle;
	padding: 5px;
	font-size: 13px;
  	font-weight: 100; 
}
.modalInfo p#massageInfo a {
	font-size: 14px;
  	font-weight: 400; 
}

/* Пoдлoжкa */
#overlay {
	z-index:3000; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	position:fixed; /* всегдa перекрывaет весь сaйт */
	background-color:#000; /* чернaя */
	opacity:0.8; /* нo немнoгo прoзрaчнa */
	-moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
	filter:alpha(opacity=80);
	width:100%; 
	height:100%; /* рaзмерoм вo весь экрaн */
	top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
	left:0;
	display:none; /* в oбычнoм сoстoянии её нет) */
	font-size: 1px;
	color: transparent;
}